gsheet_url = "https://docs.google.com/spreadsheets/d/..."
worksheet_name = "human_events_v2"
materials_file = "materials_for_app_balanced_stage1.json"
stage1_lookup_prefix = "lookup_stage1_balanced"
full_lookup_prefix = "lookup_full"
condition = "balanced_stage1"
stage1_n = 30
stage2_n = 5
min_queries = 3
max_queries = 8
show_admin_controls = false
randomization_salt = "replace-with-private-randomization-salt"
completion_salt = "replace-with-private-completion-salt"

[gcp_service_account]
type = "service_account"
project_id = "..."
private_key_id = "..."
private_key = "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
client_email = "..."
client_id = "..."
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "..."
